* {
    font-family: "Helvetica", "Arial", sans-serif
}
h1, h2, h3, h4, h5, h6 {
    color: #444444;
    font-weight: 100;
}
body {
    background-color: #f3f3f3;
    margin: 0px;
    height: 100vh;
}
path {
    stroke: white;
    stroke-width: 0.25px;
    fill: #808080;
}


#howToDiv{
    position: absolute;
    border: solid 2px #000;
    width: 500px;
    height: 500px;
    z-index: 10;
    margin-left: 35%;
    margin-top: 5%;
    background-color: rgba(50, 50, 50, 0.95);
    visibility: hidden;
}

.howToText{
    color: white;
    opacity: 1;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;

}



.individual-tooltip{
    padding: 5px;
    width: 130px;
    height: 60px;
    background-color: darkgrey;
    border: solid 1px #000;
    border-radius: 3px;
}

#wrapper{
    margin-top: 5px;
}

#secondQuestion{
    opacity: 1;
}

#howTo{
    margin-top: 20px;
}

.titleText{
    font-size: 30px;
    margin-top: 20px;
}
.details {
    top: 0px;
    visibility: hidden;
    width: 300px;
    padding: 30px;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    background-color: aliceblue;
    font-size: 15px;
}
.center {
    text-align: center;
}

#banner{
    height: 10%;
    width: 100%;
    background-color: #BEBEBE;
}


#wrapper{
    height: 100%;
}

#resetButton{
    margin-top: 10%;
}

.questionFilterButton{
    margin-bottom: 10px;
    width: 100%;
}

.clickedButton{
    background-color: #007bff;
}

.unClickedButton{
    background-color: grey;
}

.waveButton{
    margin-left: 10px;
}

/*

.btn-secondary:hover {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}

.btn-secondary:active {
  color: pink;
  background-color: pink;
  border-color: pink;
}*/